/*
* 1.misclenious styles
*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #777b92;
}

a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
hr.style-one {
  margin: 0;
  border-top: 1px solid #eaeaea;
}

.block-title {
  margin-bottom: 50px;
}
.block-title h2 {
  margin: 0;
  color: #273167;
  font-size: 46px;
  margin-top: 50px;
  font-weight: 400;
  white-space: pre-line;
}

.m-r-sm {
  margin-right: 3px;
}



.scroll-to-top {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #1C2460;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
}
.help-sec2{
   display: block;
   margin-top: auto;
   margin-bottom: auto;
}
.help-sec2>img{
  display: block;

  width: 80%;
}
.scroll-to-top i {
  font-size: 18px;
  line-height: 45px;
  color: #fff;
}
.scroll-to-top:hover {
  background: #273167;
}
.help-cont{
  max-width: 85%;
}

/*
* 2.header styles
*/

.header-navigation ul.navigation-box-2 > li > a {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
    cursor: pointer;
}
.header-navigation {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  position: relative;
  background-color: transparent;
}
.header-navigation .container {
  background: transparent;
  position: relative;
  display: block;
}
.header-navigation .container .logo-box {
  float: left;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navbar-logo{
  width: 110px;
}
.header-navigation .container .navbar-brand {
  height: auto;
  margin: 0;
  width: 125px ;
}
.header-navigation .container .menu-toggler {
  display: none;
}
.header-navigation .container .right-side-box {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}
.header-navigation .main-navigation {
  float: right;
  text-align: right;
}
@media (min-width: 1200px) {
  .header-navigation .main-navigation {
    display: block !important;
  }
}

.header-navigation ul.navigation-box {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navigation ul.navigation-box > li {
  position: relative;
  padding: 0px 0;
  display: inline-block;
  vertical-align: middle;

}

.header-navigation ul.navigation-box > li > a {
  font-weight: 500;
  font-size: 16px;
  color: #1C2460;
  padding: 0;
  transition: all 0.4s ease;
  position: relative;
  cursor: pointer;
}

.header-navigation ul.navigation-box > li > a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scale(0, 1);
  transform-origin: right center;
  width: 100%;
  height: 2px;
  background-color: #ffff;
  
}
/* .header-navigation ul.navigation-box > li > a.current,
.header-navigation ul.navigation-box > li:hover > a {
  color: #1C2460;
} */
.header-navigation ul.navigation-box > li > a.current,
.header-navigation ul.navigation-box > li:hover > a {
  color: #ffffff;
}


@media (min-width: 1200px) {
  .header-navigation ul.navigation-box > li > .sub-menu {
    display: block !important;
  }
}
.header-navigation ul.navigation-box > li > .sub-menu.right-align {
  left: auto;
  right: 0;
}
.header-navigation ul.navigation-box > li > .sub-menu.center-align {
  left: 50%;
  transform: translateX(-50%);
}


.header-two{
      display: grid;
  background-color: #1C2460;
    position: relative;
    top: 0;
    left: 0;
    padding: 1.5rem 0 1.5rem 0 ;
    width: 100%;
   
}
@media (min-width: 1200px) {
  .header-navigation ul.navigation-box > li > ul > li > .sub-menu {
    display: block !important;
  }
}


/* .header-navigation ul.navigation-box > li > ul > li > .sub-menu > li:hover > a {
  color: #273167;
  background: #fff;
} */
.header-navigation ul.navigation-box > li > ul > li ul {
  display: none;
} 

.header-navigation.stricky-fixed {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 991;
  background: #273167;
  border-bottom: 0;
}

.site-header.header-one {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.site-header.header-one .header-navigation {
  background: transparent;
}
.site-header.header-one .header-navigation.stricky-fixed {
  background-color: #1C2460;
  color: #FFFFFF;
  box-shadow: 0px 5px 30px 0px rgb(214, 214, 214)
}
.search-form{
  width: 450px;
  padding: 1.2em 1.2em 1.2em 1.2em !important;
}
.form-control:focus{
  box-shadow: none;
}

.site-header.header-one .header-navigation ul.navigation-box > li {
  padding: 45px 0;
}
.site-header.header-one .header-navigation ul.navigation-box > li + li {
  margin-left: 36px;
}
.site-header.header-two .header-navigation ul.navigation-box > li + li {
  margin-left: 36px;
}
.site-header.header-one .header-navigation .right-side-box .header-btn {
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #1C2460;
  border-radius: 4px;
  background-color: #1C2460;
  box-shadow: 0px 15px 30px 0px rgba(233, 79, 202, 0.1);
  color: #1C2460;
  font-size: 14px;
  font-weight: 500;
  padding: 05px 28px;
  transition: all 0.4s ease;
}
.site-header.header-one .header-navigation .right-side-box .header-btn:hover {
  color: #000000;
  background-color: #33BBFF;
  border-color: #33BBFF;
}
.site-header.header-one
  .header-navigation.stricky-fixed
  ul.navigation-box
  > li {
  padding: 25px 0;
}

.site-header.home-page-two .header-navigation.stricky-fixed {
  background-image: linear-gradient(-145deg, #320b82 0%, #9c33c3 100%);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.15);
}
.site-header.home-page-two .header-navigation ul.navigation-box > li > a {
  color: #d6c9e4;
}
.site-header.home-page-two
  .header-navigation
  ul.navigation-box
  > li.current
  > a,
.site-header.home-page-two .header-navigation ul.navigation-box > li:hover > a {
  color: #fff;
}
.site-header.home-page-two .header-navigation .right-side-box .header-btn {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.4s ease;
}
.site-header.home-page-two
  .header-navigation
  .right-side-box
  .header-btn:hover {
  color: #1C2460;
  background-color: #fff;
  border-color: #1C2460ca;
}

/*
* 3.banner styles
*/
form {
    background: #fff;
    padding: 1.2em 1.8em 1.2em 1.4em;
    border-radius: 0.5em;
}
.banner-style-one {
  height: 100vh;
  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url("../images/Landing-page-background.jpg");
  
}

.airvays-content>h1{
  color: #1C2460;
  font-size: 40px;
  font-weight: 500;

}

.airvays-content>p{
  color: #1C2460;
  font-size: 24px !important;
  font-weight: 400;
  margin-bottom: 40px;

}




.banner-style-one .content-block .banner-btn span {
  font-size: 18px;
  display: block;
  line-height: 1em;
  margin-top: 5px;
}
.banner-style-one .content-block .banner-btn i {
  font-size: 30px;
  color: #777b92;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}
.banner-style-one .content-block .banner-btn + .banner-btn {
  margin-left: 16px;
}


.banner-style-one.home-page-two {
  padding-bottom: 277px;
  background: #fff url(../images/Landing-page-background.jpg) top right no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}
.banner-style-one.home-page-two:before {
  border-color: rgba(255, 255, 255, 0.04);
}
.banner-style-one.home-page-two:after {
  border-color: rgba(255, 255, 255, 0.02);
}
.banner-style-one.home-page-two [class*="bubble-"] {
  background-color: transparent !important;
  border-width: 2px;
}
.banner-style-one.home-page-two .banner-mock {
  right: 0;
  top: 20%;
}
.banner-style-one.home-page-two .content-block h3 {
  color: #fff;
}
.banner-style-one.home-page-two .content-block p {
  color: #d6c9e4;
}
.banner-style-one.home-page-two .content-block .banner-btn {
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: 0px 15px 30px 0px rgba(255, 255, 255, 0.1);
}

/*custom css*/
/* 
.airvays-search-form{
  display: flex;
    justify-content: center;
    align-items: center;
} */
.form-row {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
}
.btn-search {
  color: #fff;
    background-color: #33BBFF;
    border-color: #33BBFF;
}
.btn-search:hover {
    color: #fff;
    background-color: #33BBFF;
    border-color: #33BBFF;
}
.ar-search-bar{
   fill: currentColor;
  color: #fff;
}
/*
* 4.footer styles
*/
.site-footer {
  box-shadow: 10 -1px 0px -5px #333;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  position: relative;
}
.fa-bars:before {
  color: #fff;
}

.site-footer .inner-container {
  border-left: 0;
  border-right: 0;
  padding: 56px 0 76px 0;
}

.footer-widget ul,
.footer-widget h3,
.footer-widget p {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-widget .widget-title {
  margin-bottom: 18px;
}
.footer-widget .widget-title h3 {
  color: #1C2460;
  font-size: 16px;
  font-weight: 500;
}
.footer-widget ul.contact-list li {
  color: #1C2460;
}
 .footer-widget ul.contact-list li + li {
  margin-top: 3px;
}
.footer-widget ul.links-list li + li {
  margin-top: 3px;
} 
.footer-widget ul.links-list li a {
  color: #1C2460;
  font-size: 14px;
  display: inline-block;
  position: relative;
  font-weight: 400;
  
}
.footer-widget ul.links-list li a:hover {
  color: #1C2460;
  
}
.footer-widget ul.links-list li a:hover:before {
  opacity: 1;
}
.footer-widget .social-block a {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 1px solid #33BBFF;
  
  text-align: center;
  background-color: #fff;
  color: #33BBFF;
  border-radius: 50%;
  box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
  transition: all 0.4s ease;
}
.footer-widget .social-block a + a {
  margin-left: 20px;
}
.footer-widget .social-block a:hover {
  color: #fff;
  background-color:#33BBFF;
  border-color: #33BBFF;
}

.bottom-footer {
  padding: 15px 0;
}
.bottom-footer p {
  color: #1C2460;
  font-size: 16px;
}
.bottom-footer p a {
  color: #1C2460;
}

/*
* 5.subscribe styles
*/
.subscribe-style-one {
   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url("../images/signup-banner.png");
  padding-top: 110px;
  padding-bottom: 120px;
}
.subscribe-style-one h3 {
  margin: 0;
  color: #273167;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 60px;
}
.subscribe-style-one .subscribe-form {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.subscribe-style-one .subscribe-form input {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  max-width: 470px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  height: 84px;
  font-size: 16px;
  padding-left: 30px;
}
.subscribe-sec>h3{
  margin-bottom: 10px;
  font-size:28px;
  color: #FFFFFF;
  font-weight: 400;
}
.subscribe-sec>p{
  font-size:16px !important;
  color: #FFFFFF;
  font-weight: 300;
}
.subscribe-sec{
  padding-bottom: 20px;
}
.subscribe-btn{
  color: #6AA0B5;
  box-shadow: 0px 20px 45px #0000001A;
  border-radius: 5px;
}
.cont-wd{
width: 65%;
}








.inner-banner h2 {
  color: #fff;
  margin: 0;
  font-size: 46px;
  font-weight: 400;
  margin-top: 5px;
}

.img-popdes-1{
    position: relative;
    max-width: 490px;
    
    margin: 0 auto;

}
.img-popdes{
     position: relative;
    max-width: 800px;
    
    margin: 0 auto;
  }
  .img-content>p{
    margin-bottom:0;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .img-col-dest{
    padding:0 0 0 15px;
    
  }
  .img-popdes>img ,.img-popdes-1>img{
    width: 100%;
    height: 40vh;
    padding:0;
  }
  .airvays-img-dest{
    padding: 30px 0;
  }
.img-popdes  .img-content ,.img-popdes-1 .img-content {
position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; /* Grey text */
  width: 95%;
  border-radius: 5px;
opacity: 1;
  margin: 15px; /* Full width */
  padding: 5px 15px; 
}
  .img-popdes-2{
    width: 350px;
    height: 270px;
  }

  /*side bar*/
  .head-btn{
    width: 100px;
    font-size: 16px;
    color: #1C2460;
    margin-left: 36px;
    padding-right: 15px;
    border: 1px #1C2460 solid;
  }



/*
* 14.inner banner styles
*/


  /*side bar*/
  .head-btn{
    width: 100px;
    font-size: 16px;
    color: #1C2460;
    margin-left: 36px;
    padding-right: 15px;
    border: 1px #1C2460 solid;
  }

  .head-btn:hover{
    color: #fff !important;
    background-color: #33BBFF;
  }
  .sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  box-shadow: none;

}

.sidebar a {
  display: block;
  color: #333333;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  display: inline-block;
  color: rgb(5, 42, 255);
}
.form-popup{
  padding: 2rem 1rem;
}
.form-popup>p{
  font-size: 14px;

}
.disclaimer{
  padding:35px 10px 0 10px;
  
}

.disclaimer>h6{
  text-align: left;
font-size:14px;
letter-spacing: 0.8px;
color: #A7A7A7;
text-transform: uppercase;
}
.covid19-box>h4{
text-align: left;
font-size: 25px;
letter-spacing: 1.4px;
color: #1C2460;
}
.line-block>p{
text-align: left;
font-size:14px;
letter-spacing: 0px;
color: #333333 !important;
}
.cont-highlight{
 background: #FFE1DE 0% 0% no-repeat padding-box;
 padding: 0 10px !important;
border-radius: 9px;
}
.case-table>p{
  text-align: left;
font-size:  14px ;
letter-spacing: 0px;
color: #707070;
}
.covid-place-desc>p{
  color: #333333;
  font-size: 15px;
  text-align: left;

}

/* .line-block:nth-child(1)>p::before ,.line-block:nth-child(1)>p::after 
{
    display: inline-block; 
    content: '.';
} */
.cov-faq-box{
  padding:50px 20px;
  border-radius: 10px;
  margin-top:20px;
 background: #F5FCFF;
}
.disclaimer>p{
  text-align: left;
font-size: 15px;
letter-spacing: 0px;
color: #333333;
line-height: 24px;

}
.covid19-box{
  border: 1px solid #CCCCCC;
border-radius: 20px;
  padding: 25px;
  display: inline-block;
}
.line-block>p{
  margin-bottom: .5rem;
  padding-right: 25px;
  display: inline-block;
}
.modal-header{
     
  border: none !important;
}
a.sidebar-user {
    display: inline-block;
}
.ov-score{
  box-shadow: 0px 20px 55px #00000017;
    margin: 0 10px;
    padding: 20px 30px;
    border-radius: 10px;
}
.ov-score-2{
padding:0 30px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.percentage{
  padding:10px 0;
  margin: 0 auto;
  width: 100px;
}
.percentage-1{
  width: 70px;
}
.showcontent{
  padding: 30px 30px ;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 55px #00000014;
border-radius: 20px;
}
.showcontent-dest{
  padding: 30px 20px ;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 55px #00000014;
border-radius: 20px;

}
.showcontent-heading{
  font-size: 20px;  
  text-align: left;
color: #1C2460;
  display: inline-block;
  padding-bottom: 2px;

}
.airvays-section{
  padding:80px 0;
}
.airvays-section-title>h2{
  color: #1C2460;
  font-size: 22px;
 
  padding: 0;
}

.showcontent-heading:after{
   display: block;
  position: absolute;
   
  width: 100%; top: 27px;
 
  
}
.footer_logo{

  width: 100px;
}
.footer-para{
  width: 300px;
  padding-bottom: 10px;
}

.travel-background{
  background: #ECF9FF;
}
.ar-travel>img{
width: 100%;
padding-bottom: 15px;
}
.ar-travel>h3{
  color:#1C2460 ;
  font-weight: 400;
  font-size: 22px;
}
.empty-space{
  height: 20px;
}

/* help*/
.form-section{
            padding: 2rem;
            box-shadow: 0px 20px 55px #00000014;
        }
        .help-head{
            text-align: center;
            color: #1C2460;
            font-size:32px;
            font-weight:500;
            padding-bottom:5px;
        }
        .ar-hlp-p{
            text-align: center;
            letter-spacing: 0px;
            color: #1C246072;
        }
        .ar-empty{
            height:10px;
        }
        .ar-empty-l2{
            height:25px;
        }
.row-covid{
  padding:20px 15px;
  box-shadow: 0px 20px 55px #00000017;
  margin-bottom: 20px;
  border-radius: 8px;
opacity: 1;
}
.CircularProgressbar .CircularProgressbar-path {
    stroke: #10A194;
}
.align-middle {
  margin: auto;
    vertical-align: middle!important;
}
.covid-box{
  
  padding: 15px 20px;
}
.data-covid-box{
  
  padding: 10px;
}
.data-covid-box>h6{
  margin-bottom: 05px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}
.data-covid-box>p{
  margin-bottom: 0;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
}
.circularProgressbar-sm{
  width: 50px;
}
.result-main{
  padding: 80px 0;
}
.ar-center{
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
  

.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 45vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 45vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}

.blog-grid{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  /* flex-direction: row; */
}
.blog-grid-container>div{
  box-shadow: 0px 20px 55px #00000017;
border-radius: 10px;
opacity: 1;
flex-direction: row;
  padding: 20px 35px;
}
.blog-grid>img{
  width: 340px;
  height: 210px;
  border-radius:10px !important ;
}
.blog-grid-container{
  display: grid;
  gap: 40px 60px;
  margin-right: 60px;
  margin-left: 10px;
  grid-template-columns: auto auto ;
  padding: 20px 0px;
  flex-direction: row;
}
.tt-date{
  color: #1C2460;
  text-align: left;
  font-size: 14px;
}
.blog-grid>h3{
  color: #1C2460;
  font-size: 24px;
  margin-bottom: 15px;
}
.tt-data-content{
  text-align: left;
  padding: 20px 10px 0 10px;
}
.tt-readmore{
  color: #4BAFC9;
  font-size: 16px;
  
}
.tt-data-content>p{
font-size: 16px;
color: #1C2460;
text-align: left;
margin-bottom: 10px !important;
line-height: 20px;
}
.tt-detials>img{
  width: 100%;
  
}
.tt-detials>div>p{
  width: 80%;
  margin: auto;
}
.tt-detials>p{
  text-align: left;
  color: #1C2460;
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 10px;
}
.tt-detials>h2{
  width: 80%;
  margin: auto;
  padding:50px;
  text-align: center;
  color: #333333;
  font-size: 32px;
}



.blog-grid{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  /* flex-direction: row; */

}
.tt-grid-container>div{
flex-direction: row;
  padding: 20px 10px;
}
.tt-grid>img{
  width: 380px;
  height: 240px;
}
.tt-grid-container{
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto ;
  padding: 20px 0px;
  flex-direction: row;
}

.tt-box-title{
  font-size: 18px;
  color: #1C2460;
}
.atta-percentage{
  display: flex;
  padding-right: 5px;
}
.atta-percentage>{
  padding-right: 5px;
}

.attra-progress{
  padding-right: 5px;
  margin-top: 8px;
  width: 250px;
}
.attra-content{
  padding: 10px;

}

.attra-grid{
  background-color: rgba(255, 255, 255, 0.8);
  color: #1C2460;
  font: 16px !important;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
  text-align: center;

  /* flex-direction: row; */
}

.attra-grid>img{
  width: 340px;
  height: 210px;
  border-radius:10px !important ;
}
.attra-grid{
color:#333333;
font-size: 16px;
text-align: left;

}
.error-box>h4{
  font-size: 10rem;
  font-weight: bold;
  color: #1C2460;
}
.error-section{
  padding: 2rem;
  height: 60vh;
  box-shadow: 0px 20px 55px #00000014;
}
.error-center{
  text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.explore-btn{
  background: #33BBFF;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 8px 14px ;
  border: 1px solid #33BBFF;
  box-shadow:none;
}
.explore-btn:hover{
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
  color: #33BBFF;
  box-shadow:none;
  border: 1px solid #33BBFF;
}
.error-box>p{
  font-size: 18px !important;
  margin-bottom: 30px;
  color: #1C2460 !important;
}
.active{

  color: #10A194 !important;
}

